
@font-face {
    font-family: font155;
    src: url("../fonts/font155\ Regular.ttf");
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}


.menu div {
    background-color: rgba(0, 0, 0, 0.753);
}

h1 {
    font-family: "Great Vibes", serif;
}


h2 {
    font-family: "Jersey 20", sans-serif;
}

li {
    font-family: "Font155", serif;
}


/* HERO SECTION */

.videoTag {
/* Make video to at least 100% wide and tall */
    filter: grayscale(70%);
    filter: brightness(40%);
}