@import "tailwindcss";



* {}

body {
  background-color: #000000;
}

* {
  --layout-responsive-spacing-outer-margin-sm: 12px;
  --layout-responsive-spacing-outer-margin-md: 20px;
  --layout-responsive-spacing-outer-margin-lg: 24px;

}

@media (min-width: 90rem) {
  * {

    --layout-responsive-spacing-outer-margin-sm: 28px;
    --layout-responsive-spacing-outer-margin-md: 36px;
    --layout-responsive-spacing-outer-margin-lg: 96px;
  }
}

.pb-layout-responsive-spacing-outer-margin-md {
  padding-bottom: var(--layout-responsive-spacing-outer-margin-md);
}

.pt-layout-responsive-spacing-outer-margin-lg {
  padding-top: var(--layout-responsive-spacing-outer-margin-lg);
}

.px-layout-responsive-spacing-outer-margin-lg {
  padding-left: var(--layout-responsive-spacing-outer-margin-lg);
  padding-right: var(--layout-responsive-spacing-outer-margin-lg);
}

:root {
  --color-background-surface: 255 255 255;
  --color-divider-primary: 255, 255, 255, 0.1;
}

#canvas-container {
  /* Or the parent of your Canvas component */
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: brightness(0.3);
  z-index: -1;
}

nav.navbar {
  box-shadow: none;
}

#webApp {
  z-index: 1;
}

.card_img {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.card_bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgb(var(--color-background-surface) / 0.9) 36%, rgb(var(--color-background-surface)) 47%);
}

.type-headline-xxs {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: -.05em;
  line-height: 1;
}

.type-headline-xs {
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  letter-spacing: -.05em;
  line-height: 1;
}

.type-headline-sm {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -.02em;
  line-height: 1;
}

@media (min-width: 90rem) {
  .type-headline-sm {
    font-size: 4rem;
  }
}

.type-label-md {
  font-family: "Inter Tight", sans-serif;
  font-size: 1rem;
  /* letter-spacing: .04em; */
  line-height: 1.25;
  font-weight: 600;
  text-transform: uppercase;
}

.type-body-sm {
  font-family: "Inter", sans-serif;
  font-size: .8125rem;
  font-weight: 600;
  letter-spacing: -.01em;
  line-height: 1.23;
}

@media (min-width: 75rem) {
  .type-emphasis-lg {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

.type-emphasis-lg {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  letter-spacing: -.03em;
  line-height: 1.25;
}


.type-body-md {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -.03em;
  font-size: 1rem;
  line-height: 1.25;

}

.type-body-md-special {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -.03em;
  font-size: 0.75rem;
  line-height: calc(1 / 0.75);

}

@media (min-width: 75rem) {
  .type-body-md-special {
    font-size: 1.25rem;
    line-height: calc(1.75 / 1.25);

  }
}


.type-body-sm2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: -.03em;
  font-size: 0.75rem;
  line-height: calc(1 / 0.75);

}

.bg-divider-primary {
  background-color: rgba(var(--color-divider-primary));
}

.border-divider-primary {
  border-color: rgba(var(--color-divider-primary));
}

.menu-overlay {
  background-color: black !important;
  color: white;
}

.container-width {
  width: clamp(320px, 100%, 1564px);
}

@media (min-width: 90rem) {
  .container-padding {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 75rem) {
  .container-padding {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (min-width: 48rem) {
  .container-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


footer.footer {
  --bulma-footer-padding: 3rem 1.5rem 3rem;
}

/* ! HOVER EFFECTS  */
.fa-youtube:hover {
  color: rgb(255, 0, 0);
  transition: color 0.3s ease;
}

.fa-x-twitter:hover {
  color: rgb(29, 161, 242);
  transition: color 0.3s ease;
}

.fa-soundcloud:hover {
  color: rgb(255, 85, 0);
  transition: color 0.3s ease;
}

.fa-instagram:hover {
  color: rgb(225, 48, 108);
  transition: color 0.3s ease;
}

.fa-linkedin:hover {
  color: rgb(0, 119, 181);
  transition: color 0.3s ease;
}

.fa-envelope:hover {
  color: rgb(244, 180, 0);
  transition: color 0.3s ease;
}

.fa-spotify:hover {
  color: rgb(45, 186, 78);
  transition: color 0.3s ease;
}

.fa-apple:hover {
  color: rgb(29, 161, 242);
  transition: color 0.3s ease;
}

.fa-tiktok:hover {
  filter: drop-shadow(0.06em 0.03em 0 rgba(255, 0, 80, 0.75)) drop-shadow(-0.055em -0.05em 0 rgba(0, 242, 234, 0.75));
  transition: filter 0.3s ease;
}